*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color: #1A0B2E;
}

.btn{
    background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
    padding: 12.5px 16px;
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.btn-2{
    background: transparent;
    border-color: #00FF88;
    padding: 12.5px 16px;
    border: 1 px solid #00FF88;
    border-radius: 100px;
    color: #00FF88;
    font-weight: 600;
    cursor: pointer;
}

.section-heading{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
}
/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
    /* padding: 0 auto; */
}

.logo h1{
    color: #FFFFFF;
}

.logo-style{
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: transparent;
    background-clip: text;
}

#menu{
    display: flex;
    gap: 32px;
    align-items: center;
}

#menu li{
    list-style: none;
}

#menu li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.hamburger-menu{
    display: none;
}

hr{
    border: 1.5px solid #533C72;
}
/* Hero Section */
.banner-container{
    min-height: 100vh;
    color: #FFFFFF;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-images{
    position: relative;
    margin-bottom: 2rem;
}

.hero-circle{
    width: 300px;
    display: block;
}

.hero-microphone {
    position: absolute;
    width: 85px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new{
    color: #1A0B2E;
    background-color: #00FF88;
    border-radius: 100px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: -5px;
    right: 20px;
}

.hero-content{
    color: #FFFFFF;
    text-align: center;
}

.hero-content h1{
    font-size: 3rem;
    font-weight: 800;
}

.hero-content p{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* About the podcast */

.podcast-content{
    color: #FFFFFF;
    text-align: center;
    margin-top: 3rem;
}

.podcast-content p{
    font-size: 1rem;
}

.podcast-container hr{
    border: 1.5px solid #533C72;
    margin: 5rem 8rem;
}

.podcast-card{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 7rem;
}

.podcast-card h1{
    color: #00FF88;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

.podcast-card p{
    color: #FFFFFF;
}

/* Choose Section */
.grid-container{
    background-color: #230E3D;
    width: 100%;
    height: 40%;
    padding: 120px 200px;
}

/* .grid-container h1{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
} */

.card-container{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: #FFFFFF;
    gap: 30px;
}

.cards{
    background-color: #351165;
    border: none;
    border-radius: 40px;
    padding: 25px 25px;
    
}

.cards img{
    margin-bottom: 20px;
}

.cards h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.cards p{
    font-size: 0.8rem;
}

.first-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.one-column-two-row{
    grid-column: span 1;
    grid-row: span 2;
}

.two-column-one-row{
    grid-column: span 2;
    grid-row: span 1;
}

/* Featured Episode */
.feature-container{
    margin: 120px 200px;
}

.feature-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 30px;
}

.feature-card-container iframe{
    border-radius: 24px 24px 0 0;
    max-height: 200px;
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
}

.feature-card{
    background-color: #250D44;
    color: #FFFFFF;
    border: none;
    border-radius: 0 0 24px 24px;
    padding: 20px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-card h3{
    font-size: 1.25rem;
    font-weight: 700;
    /* margin-bottom: 8px; */
}

.feature-card p{
    margin-top: 8px;
    font-size: 0.875rem;
    font-weight: 400;
}

.durations{
    color: #00FF88;
    font-weight: 600;
}

/* Host */
.host-container{
    margin: 120px 200px;
}
.host-content{
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: #FFFFFF;
}

.host-content h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.icons{
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.icon-container{
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    border: 2px solid #533C72;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon-container img{
    height: 20px;
    width: 20px;
}

/* footer */
footer{
    text-align: center;
    color: #FFFFFF;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}

footer h1{

}


.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 20px;
    margin: 1.5rem 0;
}
.footer-items{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5px;
}

/* .footer-icon{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 1.5rem 0;
}

.display-flex{
    display: flex;
    gap: 5px;
} */

/* Responsive for Small Device */
@media screen and (max-width: 576px) {
    /* Navigation Bar */
    nav{
        padding: 20px;
        justify-content: space-between;
    }
    nav h1{
        font-size: 20px;
    }

    #menu{
        display: none;
    }

    #nav-btn{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }



    /* About the Podcast */
    .podcast-card{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    .podcast-card p{
        font-size: 14px;
    }

    .podcast-content{
        padding: 20px;
    }

    /* Choose TechWave */

    .grid-container{
        padding: 20px;
    }

    .card-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        
    }

    /* Featured Episode */
    .feature-container{
        margin: 20px;
    }

    .feature-card-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 100px;
    }

    /* Bonus Section */
    .host-container{
        margin: 20px;
    }

    .host-content{
        flex-direction: column;
        text-align: center;
    }

    /* Footer */
    .footer-icons{
        /* display: grid; */
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        text-align: center;
        /* row-gap: 20px;
        column-gap: 10px; */
        /* gap: 20px; */
    }

}